<div class="row">
	<div class="span8 info">
		<h2>Contact</h2>
		<p>For any inquiries please contact <a href="mailto:ferrist@postune.com">ferrist@postune.com</a></p>
		<p>All song metadata is provided by <%= link_to "exfm", "http://ex.fm" %></p>
		<p>Streaming URLs are provided by <%= link_to "Soundcloud", "http://soundcloud.com" %>, <%= link_to "Tumblr", "http://tumblr.com" %>, and other various blogs</p>
		<p>For DMCA or copyright violation, please refer to: <%= link_to "exfm DMCA Copyright policy", "http://ex.fm/dmca" %></p>
		<p>Postune was created by and is managed by Ferris Tseng</p>
	</div>
</div>