<div class="row">
	<div class="info span8">
		<h2>FAQ</h2>
		<h3 id="what-is-postune">What is Postune?</h3>
		<p>Postune is a website where people can listen and chat about music.</p>

		<h3 id="how-does-postune-work">How does Postune work?</h3>
		<p>Users join a station and choose songs that will be broadcasted to other users on that station. Only registered users can choose songs and chat.</p>

		<h3 id="why-cant-i-do-x">Why can't I do 'X'?</h3>
		<p>If you have suggestions, we would love to hear them! Please email <%= link_to "ferrist@postune.com", "mailto:ferrist@postune.com" %> with any cool features you would like to see implemented on the website.</p>

		<h3 id="users-are-harassing-me">Other users are ruining the experience. How do I report them?</h3>
		<p>First, please read the <%= link_to "rules", rules_path %> to understand the conditions in which to report someone! If they have violated any of these rules, please contact <%= link_to "ferrist@postune.com", "mailto:ferrist@postune.com" %>.</p>

		<h3 id="something-isnt-working">Something is not working as it should be!</h3>
		<p>If you encounter a bug, remember that Postune is still in development! Please report your issue to <%= link_to "ferrist@postune.com", "mailto:ferrist@postune.com" %>.</p>
	</div>
</div>