<div class="container">
	<%= render '/user/stations/partials/private_station_form', 
			:station => @station, 
			:url => user_station_path(@station), 
			:title => "Edit #{@station.name}",
			:submit_text => "Edit Station"
	%>
</div>
