<div id="new-station-form" class="centered-div">
	<div class="wrap">
		<%= form_tag user_stations_path do %>
		<div class="form-actions">
			<%= submit_tag "", :class => "glyph white" %>
		</div>
		<div class="field">
			<%= text_field_tag :name, "", :placeholder => "Enter a station name" %>
		</div>
		<% end %>
	</div>
</div>