<div class="container">
	<div class="row">
		<div class="span8">
			<h3>Online Stations</h3>
		</div>
	</div>
	<div class="row">
		<div class="span4">
			<table>
			<% @online.each do |station| %>
				<tr>
					<td width="75px" class="text center"><%= station_label station %></td>
					<td><%= link_to station.name, user_station_path(station) %></td>
				</tr>
			<% end %>
			</table>
		</div>
	</div>
</div>