<div class="centered-div" id="login-wrapper">
	<div id="login-form">
	<%= form_for @user, :url => user_sessions_path do |f| %>
		<div class="field">
			<%= f.text_field :name, :placeholder => "Username" %>
		</div>
		<div class="field">
			<%= f.password_field :password, :placeholder => "Password" %>
		</div>
		<div class="form-actions">
			<%= f.submit "", :class => "glyph" %>
		</div>
	<% end %>
	</div>
</div>