<div class="container">
	<div class="row">
		<div class="span8">
			<%= link_to_oauth_sign_in "Facebook", "/auth/facebook", "facebook-sign-in" %>
			<%#= link_to_oauth_sign_in "Twitter", "/auth/twitter", "twitter-sign-in" %>
		</div>
	</div>
</div>