var socket = io.connect('<%= "http://#{Settings['node']['host']}:#{Settings['node']['port']}/" %>');

socket.on("connect", function() {
	socket.emit("new user", { station: station, user: current_user });
});

socket.on("play song", function(data) {
	console.log(data);
	Player.load(data);
	$("#song-title").html((data.song.title != "") ? data.song.title : "Unknown");
	$("#song-artist").html((data.song.artist != "") ? data.song.artist : "Unknown");
	$("#song-album").html((data.song.album != "") ? data.song.album : "Unknown");
	$("#song-artwork").html((data.song.artwork != "") ? "<img src='" + data.song.artwork + "' alt='artwork' />" : "");
	Player.playOffset((new Date()).getTime() - data.time);
});

socket.on("update user count", function(data) {
	$("#online-users").html(data);
});

socket.on("chat message", function(data) {
	if(data.type == "notification") {
		$("#chat-text").append("<div class='chat-message notification'>" + data.content.text + "</div>");
	} else if(data.type == "user") {
		$("#chat-text").append("<div class='chat-message user'>" + 
															"<span class='user'>" + data.content.user + ": </span>" + 
															"<span class='text'>" + data.content.text + "</span>" + 
														"</div>");
	}
	$("#chat-text").scrollTop($("#chat-text")[0].scrollHeight);
})

// Event Handlers
$(function() {
	$("#chat-form form").submit(function(e) {
		e.preventDefault();
		var input = $("#chat-form form input[type='text']");
		socket.emit("new message", $("<div/>").text(input.val()).html());
		input.val("");
	});
});