<!DOCTYPE html>
<html>
  <head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Reset Password Notification</h2>
    <p>Hello <%= @user.name %>, </p>
    <p>You have recently requested a link to reset your password.</p>
    <p>To complete resetting your password, please choose a new password and fill out the required form at this location:</p>
    <p><%= link_to @url, @url %></p>
    <p>Afterwards, you will be able to login with your new password.</p>
    <p>Postune</p>
  </body>
</html>