<div class="inline-fields">
	<div class="field">
		<%= f.text_field :name, :placeholder => "Name", :name => "station[collaborators_attributes][#{i}][name]" %>
	</div>
	<div class="field">
		<%= f.text_field :title, :placeholder => "Title", :name => "station[collaborators_attributes][#{i}][title]" %>
	</div>
</div>