<div class="inline-fields collaborator-fields">
	<div class="field">
		<%= f.text_field :name, :placeholder => "Name" %>
		<%= required_field f.object, :name %>
	</div>
	<div class="field">
		<%= f.text_field :title, :placeholder => "Title" %>
	</div>
	<%= f.link_to_remove "X", :class => "btn red" %>
</div>