<div id="controls">
	<div class="wrapper">
		<ul class="buttons-panel">
			<li>
				<a href="#" class="control info-button-toggle"><i class="icon-info-sign"></i></a>
			</li>
			<li>
				<a href="#" class="control play-button pressed"><i class="icon-play"></i></a>
			</li>
			<li id="volume-slider-wrapper">
				<span class="icon-volume-up" id="volume-icon"></span>
				<div id="volume-slider"></div>
			</li>
		</ul>
		<div id="song-info">
			<div id="song-artwork"></div>
			<div id="song-title"></div>
			<div id="song-artist"></div>
			<div id="song-album"></div>
		</div>
	</div>
</div>