<div class="modal hide" id="choose-song-form">
	<div class="modal-header">
		<h3>Choose Song</h3>
	</div>
	<div class="modal-body">
		<%= form_tag search_user_songs_path, :method => 'get', :remote => true do %>
			<div class="field">
				<%= text_field_tag :query %>
				<%= hidden_field_tag :start, 1 %>
			</div>
		<% end %>
		<div id="search-results" class="songs-list"></div>
	</div>
	<div class="modal-footer">
		<div class="left">
		</div>
		<div class="right">
			<button class="btn" data-dismiss="modal">Close</button>
		</div>
	</div>	
</div>