<div class="tab-frame" id="search-song-form">
	<%= form_tag search_user_station_songs_path(@station), :method => 'get', :remote => true, :id => "search-form" do %>
		<div class="form-actions">
			<%= submit_tag "", :class => "glyph" %>
		</div>
		<div class="field">
			<%= text_field_tag :query, "", :placeholder => "Search be artist or song name..." %>
			<%= hidden_field_tag :start, 1 %>
		</div>
	<% end %>
	<div id="search-results"></div>
</div>