<div class="row">
	<div class="span8">
		<div class="left">
			<span class="label <%= visibility == 'Public' ? 'green' : 'red' %>"><%= visibility %></span>
			<%= link_to_favorite @station %>
			<span class="label"><%= @station.name %></span>
		</div>
		<div class="right text">
			<span id="online-users">0</span> <span class="icon-user"></span>
		</div>
	</div>
</div>