@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);

body {
	background: #26242f;
	font-size: 14px;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.wrap {
	overflow: hidden;
}

.left {
	float: left;
}

.right {
	float: right;
}

.glyph {
	width: 14px;
	height: 14px;
	display: inline-block;
	background: url('/assets/glyphicons-halflings.png') 0px 0px;
}

.glyph.white {
	background: url('/assets/glyphicons-halflings-white.png') 0px 0px;
}

.container {
	padding: 0px 32px;
}

input[type='submit']:hover, button:hover {
	cursor: pointer;
}

.btn {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F7F7F7), to(#EFEFEF));
	background-image: -webkit-linear-gradient(top, #F7F7F7, #EFEFEF); 
	background-image: -moz-linear-gradient(top, #F7F7F7, #EFEFEF);
	background-image: -ms-linear-gradient(top, #F7F7F7, #EFEFEF);
	background-image: -o-linear-gradient(top, #F7F7F7, #EFEFEF);
	border: 1px solid #ACB3B7;
	font-weight: bold;
	box-shadow: 0px 0px 1px #FFFFFF;
	-moz-box-shadow: 0px 0px 1px #FFFFFF;
	-webkit-box-shadow: 0px 0px 1px #FFFFFF;
	color: #4A4A4A;
	text-shadow: 0px 0px 1px #FFFFFF;
	-moz-text-shadow: 0px 0px 1px #FFFFFF;
	-webkit-text-shadow: 0px 0px 1px #FFFFFF;
}

.message {

}

.message.warning {

}

.tab-frame {
	display: none;
}

.tab-frame.open {
	display: block;
}

header {
	line-height: 56px;
	font-weight: bold;
	height: 56px;
	color: #FFFFFF;
	a {
		color: #FFFFFF;
	}
	.left a {
		font-size: 24px;
	}
	.right {
		a {
			font-size: 14px;
			color: #FFFFFF;
		}
	}
}

footer {
	height: 48px;
	line-height: 48px;
	font-weight: bold;
	a {
		color: #FFFFFF;
	}
	.left a {
		margin: 0px 15px 0px 0px;
	}
}

.dropdown-menu {
	display: none;
}

#inner, footer, header {
	min-width: 980px;
}

#inner {
	width: 100%;
	min-height: 400px;
	background: #69c93a;
}

#inner .container {
	padding: 32px;
}
