@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import 'variables.scss';
@import 'mixins.scss';

body {
	font-size: 12px;
	line-height: 18px;
	background: $background-gray;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 { font-weight: bold; padding: $padding 0px; display: block;}
h1 { font-size: 24px; }
h2 { font-size: 18px; }
h3 { font-size: 14px; }
h4 { font-size: 12px; }

p { display: block; padding: $padding 0px; }
p.heavy { font-weight: bold; }
#main p a { border-bottom: 1px dotted #232323;}

table { 
	width: 100%; 
	margin: $margin 0px;
	td, th {
		padding: 5px;
	}
	th {
		text-align: left;
		font-weight: bold;
	}
}

table.alt {
	tr:nth-child(odd) {
		border-top: 1px solid $border-gray;
		border-bottom: 1px solid $border-gray;
		background: $background-gray;
	}
}

.emphasize {
	font-weight: bold;
}

.wrap {
	overflow: hidden;
}

.half {
	width: 50%;
}

.left {
	float: left;
}

.right {
	float: right;	
}

.right.text {
	text-align: right;
}

.center.text {
	text-align: center;
}

.right-text {
	text-align: right;
}

.hide {
	display: none;
}

.separator {
	margin: $margin 0px;
	border-top: solid 1px $border-gray;
}

.separator.top-double {
	margin: $margin-double 0px $margin 0px;
}

.separator.bottom-double {
	margin: $margin 0px $margin-double 0px;
}

.no-padding {
	padding: 0px !important;
}

.no-margin {
	margin: 0px !important;
}

.icon {
	width: $icon-size;
	height: $icon-size;
	display: inline-block;
}

.social-icon {
	width: $icon-social-size;
	height: $icon-social-size;
	display: inline-block;
	background: url('/assets/sprite_social.png');
}

.social-link {
	font-weight: bold;
	display: block;
	overflow: hidden;
	span {
		height: $icon-social-size;
		line-height: $icon-social-size;
		padding-left: 5px;
		display: block;
		float: left;
	}
	span:first-child {
		padding-left: 0px;
	}
}

.med-icon {
	width: $med-icon-size;
	height: $med-icon-size;
	display: inline-block;
}

.med-icon.alert {
	background: url('/assets/tip.png');
}

.loading {
	background: url('/assets/load.gif');
}

.container {
	width: $body-width;
	margin: auto;
	padding: 0px 32px;
	overflow: hidden;
	.container {
		padding: 0px;
		width: auto;
	}
	.row {
		overflow: hidden;
		padding: 0px 0px $padding-double 0px;
		.span2, .span4, .span6, .span8 {
			div.padded {
				padding: 6px 0px;
			}
		}
		.span2, .span4, .span6 {
			float: left;
		}
		.span2 {
			width: 23.815789472%;
			margin: 0px 0.789473684% 0px 0.789473684%;
		}
		.span2:first-child {
			margin: 0px 0.789473684% 0px 0px;
		}
		.span2:last-child {
			margin: 0px 0px 0px 0.789473684%;
		}
		.span4 {
			width: 49.210526315%;
			margin: 0px 0px 0px 0.789473684%;
		}
		.span4:first-child {
			margin: 0px 0.789473684% 0px 0px;
		}
		.span6 {
			margin: 0px 0px 0px 0.789473684%;
			width: 74.210526315%;
		}
		.span6:first-child {
			margin: 0px 0.789473684% 0px 0px;
		}		
		.span8 {
			width: 100%;
			h1, h2, h3, h4, h5, h6 {
				margin: 0px;
				padding: 0px;
			}
		}
		.row:last-child {
			padding: 0px 0px 0px 0px;
		}
	}
}

.info { 
	font-size: 14px;
	line-height: 24px;
	h1, h2, h3, h4, h5, h6 {
		padding: $padding 0px !important;
	}
	h1:first-child, h2:first-child, h3:first-child,
	h4:first-child, h5:first-child, h6:first-child {
		padding-top: 0px !important;
	}
}

form {
	overflow: hidden;
	.field {
		margin: $margin 0px 0px 0px;
		label {
			display: block;
			margin: 0px 0px $margin 0px;
		}
		input[type='text'], input[type='password'] {
			@include box-sizing(border-box);
			border: 1px solid #ACB3B7;
			width: 100%;
			font-size: 14px;
			padding: 5px 5px;	
		}
		.inline-error {
			color: #FFFFFF;
			font-weight: bold;
			.inline-error-caret {
				line-height: 0px;
				font-size: 0px;
				margin: 0px 0px 0px $margin-double;
				padding: 0px;
				height: 0;
				width: 0;
				border-bottom: #F2132D 8px solid;
				border-left: transparent 8px solid;
				border-right: transparent 8px solid;
			}
			.inline-error-body {
				background: #F2132D;
				padding: 5px 8px;
			}
		}
	}	
	.form-actions {
		margin: $margin-double 0px 0px 0px;
	}
	.unified {
		margin: $margin 0px 0px 0px;
	}
	.field_with_errors {
		input[type='text'], input[type='password'] {
			border: 1px solid #F2132D;
		}
	}
}

.btn {
	@include gradient(#F5F5F5, #DEDEDE);
	@include text-shadow(0px, 0px, 1px, #FFFFFF);
	@include border-radius($border-radius);
	border: 1px solid #ACB3B7;
	font-weight: bold;
	font-size: 12px;
	color: #222222;
	line-height: 18px;
	margin: 0px;
	padding: 5px 7px;
	display: inline-block;
}

.btn.green {
	@include gradient(#6AC042, #63B53D);
	@include text-shadow(0px, -1px, 0px, #4D8135);
	color: #FFFFFF;
	border: 1px solid #528839;
}

.btn.small {
	line-height: 14px;
	padding: 3px 5px;
}

.btn.full {
	width: 100%;
	display: block;
}

.btn:hover {
	@include box-shadow(0px, 0px, 3px, $border-gray, 1px, inset);
	cursor: pointer;
}

.btn.green:hover {
	@include box-shadow(0px, 0px, 3px, #62A543, 1px, inset);
}

.btn:active {
	color: $blue;
}

.btn.green:hover {
	color: #FFFFFF;
}

.messages-wrapper {
	padding: 0px !important;
}

.message {
	padding: 6px 10px;
	margin: 0px 0px $margin 0px;
}

.message.notice {
	border: 1px solid $border-gray;
	background: #FFFDBA;
}

.message.error {
	background: #FFC6C6;
}

.message.top {
	text-align: center;
	margin: 0px;
}

#main, header {
	background: #FFFFFF;
}

#main { }

header {
	line-height: $header-height;
	height: $header-height;
	font-weight: bold;
	padding: $header-padding 0px;
	.left {
		font-size: 24px;
	}
}

footer {
	height: 48px;
	line-height: 48px;
	font-weight: bold;
	border-top: 1px solid $border-gray;
	.left a {
		margin: 0px $margin-double 0px 0px;
	}
}

.tabs {
	font-size: 0px;
	border-top: 1px solid #DEDEDE;
	border-left: 1px solid #DEDEDE;
	border-right: 1px solid #DEDEDE;
	background: $background-gray;
	li:last-child {
		border-right: 0px;
	}
	li {
		display: inline-block;
		border-bottom: 3px solid $border-gray;
		border-right: 2px groove #FFFFFF;
		a {
			display: block;
			padding: 5px 7px;
			font-size: 12px;
		}
	}
	.open {
		border-bottom: $blue 3px solid;
		font-weight: bold;
	}
}
.tab-frame {
	display: none;
}
.tab-frame.open {
	display: block;
}

.pagination {
	margin: $margin 0px 0px 0px;
	text-align: center;
	.page {
		display: inline-block;
		padding: 4px 8px;
		background: $background-gray;
		border: $border-gray 1px solid;
		margin: 0px $margin;
	}
	.current {
		font-weight: bold;
	}
}