$body-width: 760px;

$header-height: 24px;
$header-padding: 12px;

$blue: #205E95;
$artwork-bg: #222222;

$volume-outer: #205E95;
$volume-inner: #232323;

$background-gray: #EFEFEF;
$border-gray: #DCDCDC;

$margin: 6px;
$margin-double : 12px;

$padding: 6px;
$padding-double: 12px;

$border-radius: 3px;

$chat-height: 400px;
$song-info-width: 128px;
