$body-width: 760px;

$header-height: 25px;
$header-padding: 12px;

$blue: #205E95;
$artwork-bg: #222222;

$icon-size: 32px;
$icon-social-size: 32px;
$med-icon-size: 64px;

$volume-outer: #205E95;
$volume-inner: #232323;

$background-gray: #EFEFEF;
$border-gray: #DCDCDC;

$margin: 6px;
$margin-double : 12px;

$padding: 6px;
$padding-double: 12px;

$border-radius: 3px;

$chat-height: 400px;
$song-info-width: 128px;

$span2-width: 181px;
