$body-width: 760px;

$header-height: 25px;
$header-padding: 12px;

$blue: #205E95;
$artwork-bg: #222222;

$error-red: #FFC6C6;
$success-green: #B8E390;
$notice-yellow: #FFFDBA;

$error-red-border: #B74747;
$success-green-border: #47B75D;
$notice-yellow-border: #DBCA49;

$icon-size: 32px;
$icon-social-size: 32px;
$med-icon-size: 64px;

$volume-outer: #205E95;
$volume-inner: #232323;

$background-purp: #212029;
$background-gray: #EFEFEF;
$border-gray: #DCDCDC;

$margin-half: 3px;
$margin: 6px;
$margin-double : 12px;

$padding-half: 3px;
$padding: 6px;
$padding-double: 12px;

$border-radius: 3px;

$chat-height: 400px;
$song-info-width: 128px;

$span2-width: 181px;

$banner-height: 240px;
$banner-float-width: 564px;
$banner-float-height: $banner-height - (24px + $margin-double * 2);
