/*
 * Sessions
 * New
 * user/sessions/new.html.erb
 */

#login-wrapper {
	width: 280px;
}
#login-form {
	padding: 12px;
	background: #FFFFFF;
	.field {
		margin: 0px 0px 12px 0px;
		input[type='text'], input[type='password'] {
			font-weight: bold;
			width: 100%;
			border: 0px;
			padding: 0px 15px;
			height: 32px;
			font-size: 14px;
			background: #EFEFEF;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
		}
	}
	.form-actions {
		margin: auto;
		background: #EFEFEF;
		width: 14px;
		height: 14px;
		padding: 15px;
		border-radius: 25px;
		-webkit-border-radius: 25px;
		-moz-border-radius: 25px;
		input[type='submit'] {
			background-position: 84px 0px;
			width: 14px;
			height: 14px;	
			border: none;
		}
	}
}