/*
 * Sessions
 * New
 * user/sessions/new.html.erb
 */

#facebook-sign-in {
	background-position: 0px 0px;
}

#tumblr-sign-in {
	background-position: -64px 0px;
}

#twitter-sign-in {
	background-position: -128px 0px;
}