/*
 * Song
 * Search results partial
 * _search.html.erb
 */
.song {
	table {
		width: 100%;
		table-layout: fixed;
		tr {
			height: 46px;
		}
		td {
			height: 32px;
			font-size: 0px;
			vertical-align: middle;
		}
		.artwork {
			overflow: hidden;
			width: 32px;
			img {
				width: 32px;
				height: 32px;
			}
		}
		.field {
			padding: 0px;
			input[type='text'] {
				font-size: 12px;
				height: 32px;
				padding: 0px 7px;
				background: #EFEFEF;
				border: none;
				width: 100%;
				font-weight: bold;
				box-sizing: border-box;
				-moz-box-sizing: border-box;
				-webkit-box-sizing: border-box;
			}
		}
		.submit {
			width: 32px;
			button[type='submit'] {
				border: none;
				height: 32px;
				width: 32px;
				padding: 9px;
				overflow: hidden;
				background: #DCDCDC;
				display: block;
				float: left;
				i {
					margin: 0px 0px 0px 0px;
					background-position: -264px -72px;
				}
			}
		}
	}
}

.pagination {
	text-align: center;
	.page {
		padding: 7px;
		display: inline-block;
	}
	.page.current {
		font-weight: bold;
	}
}
