// default width 
// 940px

// station header
#station-header {
	box-shadow: 0px 1px 7px rgba(0,0,0,0.1);
	overflow: hidden;
	width: 100%;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	box-sizing: border-box;
	background: #FFFFFF;
	#station-title {
		font-size: 14px;
		font-weight: bold;
		span {
			padding: 10px 15px;
			display: block;
		}
	}
	#online-users {
		display: block;
	}
	.icon-user, #online-users {
		margin: 11px 15px 11px 0px;
		float: left;
	}
}

// image slider
#album-slider {
	width: 100%;
	height: auto;
	overflow: hidden;
	text-align: right;
	background: #CCCCCC;
	display: table;
}

.album-thumb {
	background: #232323;
	overflow: hidden;
	float: left;
	width: 25%;
	text-align: center;
	line-height: 235px;
	img {
		max-width: 100%;
		max-height: 100%;
		opacity: 0.35;
	}
}

.playing {
	img {
		opacity: 1;
	}
}

// song and station details
#song-details {
	padding-right: 50%;
	.arrow {
		width: 24px;
		height: 18px;
		background: url('/assets/arrow.png');
		position: absolute;
		margin: -16px 0px 0px 105.5px;
		z-index: 1000;
	}
	.window {
		margin: 18px 7.5px 0px 0px;
		position: relative;
	}
	#song-title {
		font-weight: bold;
		font-size: 12px;
	}
}

#station-details {
	width: 50%;
	float: right;
	.window {
		margin: 18px 0px 0px 7.5px;
		.btn {
			margin: 10px 0px 0px 0px;
		}
	}
}
#add-song-form {
	.field {
		margin: 0px;
		padding: 0px;
	}
}

.modal-body {
	.song {
		font-size: 13px;
		height: 32px;
		padding: 0px 0px 8px 0px;
		overflow: hidden;
		height: auto;
		width: 634px;
		margin: auto;
	}
	.fix {
		margin: 15px 0px 0px 0px;
	}
	.artwork {
		margin: 3px 0px 0px 0px;
		width: 32px;
		height: 32px;
		background: #232323;
		line-height: 32px;
		.play {
			width: 32px;
			height: 32px;
			background: rgba(0,0,0,0.85);
			position: relative;
			z-index: 3050;
			margin:  -32px 0px 0px 0px;
			display: none;
		}
		.icon-play {
			
		}
	}
	.song-field {
		width: 180px;
		margin: 2px 0px 0px 3px;
	}
	.submit {
		width: 48px;
		margin: 3px 0px 0px 4px;
	}
	.song input[type="text"] {
		width: 100%;
		box-sizing: border-box;
	}
}

#station-history {
	.artwork:hover {
		cursor: pointer;
	}
}

// responsive part

// 768 to 980
// 724px
@media (min-width: 768px) and (max-width: 979px) {
	.album-thumb {
		line-height: 181px;
	}
	#song-details {
		.arrow {
			margin-left: 78.5px;
		}
	}
}

// 481 to 768
// fluid
@media (max-width: 767px) {
	.modal-body {
		.song {
			width: auto;
		}
		.left {
			float: none;
		}
		.artwork {
			margin: auto;
		}
		.song-field {
			margin: 5px 0px 0px 0px;
			input[type='text'] {
				width: 100%;
				box-sizing: border-box;
			}
		}
		.submit {
			margin: 5px 0px 0px 0px;
			.btn {
				width: 100%;
				display: block;
			}
		}
		.search-result {
			background: #EFEFEF;
			margin: 0px 0px 8px 0px;
			padding: 5px 7px;
		}
	}
	.album-thumb {
		line-height: 0px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	#station-title {
		font-size: 12px;
		span {
			padding: 7px 9px;
		}
	}
	#song-details {
		.arrow {
			left: 12.5%;
			margin-left: 0px;
		}
	}
	#station-details {
		.window {
			margin-top: 0px;
			.left, .right {
				float: none;
				.btn {
					display: block;
					text-align: center;
				}
			}
		}
	}
}

@media (max-width: 480px) {

}